#homelogo {
    width: 150px;
    height: 150px;
    padding-top: 20px;
    display: block;
    margin: auto;
}

#titlelogo {
    color: #006cb7;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    display: block;
}

#logobar {
    background-image: url('../images/lighthouse.jpg');
    background-position: 0px -300px;
    box-shadow: 0px 0px 15px 20px white inset;
}

body {
    background-image: url('../images/brickbackground - color.png');
    background-size: 1000px 1000px;
    background-attachment: fixed;
    z-index: -3;
}

#mainwrapper {
    display: block;
    width: 1000px;
    background-color: white;
    margin: auto;
    padding-top: 20px;
    box-shadow: 0px 0px 20px 20px white;

}

#mainwrapperfacade {
    display: block;
    width: 1000px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -500px;
    z-index: -2;
    box-shadow: 0px 0px 20px 20px white;
}

#navwrapper {
    text-align: center;
    background-color: white;
    width: 1000px;
    display: block;
    margin: auto;
    border-top: #ebc46a outset 2px;
    border-bottom: #ebc46a outset 2px;
    font-size: 0;
}

.navbutton {
    width: 200px;
    height: 40px;
    background-color: white;
    color: #006cb7;
    border: none;
    font-size: 24px;
}

.navbutton:hover {
    color: white;
    background-color: #006cb7;
}

.navbutton:active {
    color: #ebc46a;
    border: #006cb7 inset 4px;
}

#navbuttonselected {
    color: #ebc46a;
    background-color: #006cb7;
    border: #006cb7 inset 4px;
}

button:focus {
    outline: 0;
}

body, html {
    height: 100%;
}

#contentwrapper {
    padding: 15px;
    font-size: 20px;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 20px;
    background-color: #006cb7;
    width: 100%;
    z-index: 2;
    border-bottom: #ebc46a outset 3px;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 20px;
    background-color: #006cb7;
    width: 100%;
    z-index: 2;
    border-top: #ebc46a outset 3px;
}

.residenceImage {
    width: 300px;
    height: 250px;
    display: inline-block;
    float: left;
}

.residenceImage:hover {
    box-shadow: #006cb7 0px 0px 0px 3px;
}

.residenceImage:active {
    box-shadow: #ebc46a 0px 0px 0px 3px;
}

.residenceDiv {
    min-height: 250px;
    margin-left: 306px;
    padding: 6px;
}

.residenceWrapper {
    border-top: #ebc46a outset 2px;
    border-bottom: #ebc46a outset 2px;
}

.residenceTable {
    width: 147px;
}

.residenceBar {
    background-color: #006cb7;
    color: #ebc46a;
    width: 100%;
}

.residenceTitle {
    font-size: 24px;
    padding-left: 12px;
    font-weight: bold;
}

.twelvePXBuffer {
    padding-left: 12px;
}

#imageShade {
    background-color: rgba(0, 0, 0, .8);
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
}

#residenceImageFocus {
    max-height: 800px;
    max-width: 800px;
}

#imageFocusDiv {
    display: none;
    z-index: 6;
    border: #ebc46a outset 3px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: black 8px 8px 12px;
    background-color: #006cb7;
    color: #ebc46a;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#closeButton {
    height: 35px;
    width: 35px;
    z-index: 7;
    position: absolute;
    top: 5px;
    right: 5px;
}

.directorBar {
    background-color: #006cb7;
    color: #ebc46a;
    width: 100%;
    font-size: 24px
}