#homelogo {
    width: 4rem;
    height: 4rem;
    position: relative;
    top: 1rem;
}

.titlelogo {
    color: #006cb7;
    text-align: center;
    font-size: 2.1875rem;
    font-weight: bold;
    display: block;
}

#logobar {
    /*background-image: url('../images/clouds.png');
    background-position: 0px 300px;
    background-size: 100rem;*/
    /*box-shadow: 0px 0px 10px 15px white inset;*/
    background-color: white;
    width: 100%;
    padding-top: .6rem;
    padding-bottom: .6rem;
    text-align: center;
}

body {
    background-image: url('../images/brickbackground - color.png');
    background-size: 800px 800px;
    background-attachment: fixed;
    z-index: -3;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

#mainwrapper {
    display: block;
    width: 800px;
    /* background-color: white; */
    margin: auto;
    padding-top: 1.25rem;
    padding-bottom: 2%;
    /* box-shadow: 0px 0px 20px 20px white; */

}

#mainwrapperfacade {
    display: block;
    width: 800px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -400px;
    z-index: -2;
    box-shadow: 0px 0px 80px 100px white;
}

.navwrapper {
    text-align: center;
    background-color: white;
    width: 100%;
    display: block;
    margin: auto;
    /*border-top: gray solid 2px;
    border-bottom: gray solid 2px;*/
    font-size: 0;
    border-bottom: 2px solid #006cb7;
}

.navbutton {
    width: 13rem;
    height: 2rem;
    color: #006cb7;
    border: none;
    font-size: 1.75rem;
    text-decoration: none;
    display: inline-block;
    font-family: Garamond, serif;
    border-left: 2px solid #ededed;
    padding: .25rem;
}

.navbutton:first-child{
    border-left: none;
}

.adminnavbutton {
    width: 264px;
}

.navbutton:hover {
    color: rgba(0, 150, 255, 0.6);
    /* background-color: #006cb7; */
}

/*.navbutton:active {
    color: #ebc46a;
    border: #006cb7 solid 4px;
    background-color: #006cb7;
}*/

#navbuttonselected {
    color: #ebc46a;
    /* background-color: #006cb7;
    border: #006cb7 solid 4px; */
}

button:focus {
    outline: 0;
}

body, html {
    height: 100%;
}

#contentwrapper {
    padding: .9375rem;
    font-size: 1.125rem;
}

header {
    /*position: fixed;
    top: 0px;
    left: 0px;*/
    height: 3%;
    background-color: #006cb7;
    background-image: linear-gradient(#006cb7, #002866);
    width: 100%;
    z-index: 2;
    text-align: center;
    color: #ebc46a;
    font-family: Garamond, sans-serif;
    font-size: 1.7rem;
    padding: .5rem;

    /* border-bottom: black solid 3px; */
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #006cb7;
    background-image: linear-gradient(#002866, #006cb7);
    width: 100%;
    z-index: 2;
    /* border-top: 2px solid #006cb7; */
    text-align: center;
    padding: .5rem;
    color: #ebc46a;
    font-family: Garamond, sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.residenceImage, .residenceImageAdmin {
    width: 300px;
    height: 250px;
    display: inline-block;
    float: left;
}

.residenceImage:hover {
    box-shadow: #006cb7 0px 0px 0px 3px;
}

.residenceImage:active {
    box-shadow: #ebc46a 0px 0px 0px 3px;
}

#resImageText {
    font-family: Garamond, sans-serif;
}

.residenceDiv {
    min-height: 250px;
    margin-left: 306px;
    padding: .45rem;
}

.residenceWrapper {
    box-shadow: #ededed 0px 0px 3px;
}

.residenceTable {
    width: 147px;
}

.residenceBar {
    background-color: #006cb7;
    color: #ebc46a;
    width: 100%;
    font-family: Garamond, sans-serif;
}

.residenceTitle {
    font-size: 1.5rem;
    padding-left: .75rem;
    font-weight: bold;
}

.twelvePXBuffer {
    padding-left: .75rem;
}

#imageShade {
    background-color: rgba(0, 0, 0, .8);
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
}

#residenceImageFocus {
    max-height: 800px;
    max-width: 800px;
}

#imageFocusDiv {
    display: none;
    z-index: 6;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #ededed 0px 0px 3px;
    background-color: #006cb7;
    color: #ebc46a;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

#closeButton {
    height: 35px;
    width: 35px;
    z-index: 7;
    position: absolute;
    top: 5px;
    right: 5px;
}

.directorInd {
    /*background-color: #e9e9e9;*/
    padding-left: .45rem;
    padding-right: .45rem;
}

.directorBar {
    background-color: #006cb7;
    color: #ebc46a;
    width: 100%;
    font-size: 1.5rem;
    font-family: Garamond, sans-serif;
}

#description {
    background-image: url('../images/hsilogo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 494px 592px;
    width: 780px;
    height: 600px;
    /* border-left: black solid 3px;
    border-right: black solid 3px; */
}

#circle {
    /*width: 30rem;
    height: 5rem;
    background: #f2f2f2;
    border-radius: 50%;
    border: 2px solid #ededed;*/

    margin: auto;
    display: block;
    color: #006cb7;
    font-family: Garamond, sans-serif;
    font-size: 2.5rem;
    padding: .5rem;
    padding-bottom: 1.5rem;
    font-weight: 500;
}

.generalForm {
    text-align: center;
    display: block;
    margin: auto;
}

.adminFormWrapper {
    text-align: center;
}

.adminForm {
    display: inline-block;
}

.adminButton {
    width: 100px;
}

.editButton {
    background-color: #c8ffc8;
}

.deleteButton {
    background-color: #ffc8c8;
}

.updateButton {
    background-color: #c8c8ff;
}

.confirmButton {
    width: 200px;
}

.adminWrapper {
    width: 800px;
    display: block;
    margin: auto;
}

.alertDown {
    text-align: center;
    color: red;
}

.alertUp {
    text-align: center;
    color: blue;
}

.dirpartwrapper {
    box-shadow: #ededed 0px 0px 3px;
}

h1, h2 {
    font-family:Garamond, sans-serif;
}

#logofull{
    display: block;
    margin: auto;
    color: #006cb7;
    font-family: Garamond, sans-serif;
    font-size: 1.5rem;
}


.partnerLink {
    color: #006cb7;
    text-decoration: none;
}


.partnerLink:hover {
    color: rgba(0, 150, 255, 0.6);
}


.footerwrapper {
    position: relative;
    min-height: 100%;
}

.footerbutton {
    color: #ebc46a;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
}


.footerbutton:hover {
    color: rgb(255, 229, 93);
}
